body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

/* Customize select component */
.selectInput {
  color: #000000 !important;
}
.select-activity {
  width: 85% !important;
}
.MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.MuiOutlinedInput-root {
  height: 100%;
}

.MuiInputLabel-root[data-shrink='true'] {
  transform: translate(14px, -20px) scale(0.75) !important;
}

/* Style icons */
.MuiSvgIcon-root {
  margin: 0 !important;
}
